.user-info {
    display: flex;
    gap: 1em;
    background-color: aqua;
    width: 900px;
    align-items: center;
    padding: 1em;
    border-radius: 5px;
}

.user-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-photo {
    width: 50px;
}

.user-photo img {
    width: 100%;
    border-radius: 50%;
}

.user-text {
    width: 700px;
}