.post-img-perfil {
    width: 60px;
}

.post-img-perfil img {
    width: 100%;
    border-radius: 50%;
}

.post-content {
    background-color: azure;
    display: flex;
    gap: 2em;
    justify-content: center;

}

.post-text {
    background-color: bisque;
    width: 550px;
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 0.5em;
}

.post-user-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post-link {
    text-decoration: none;
    font-weight: 500;
    color: black;
    width: 250px;
}