.footer {
    width: 100%;
    height: 3.1rem;
    background: var(--secundary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text {
    color: var(--terciary-color);
    font-size: 1.2rem;
    font-weight: 600;
}